<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>CT StreamDB</title>
</head>
<body class="{% if settings.dark_mode %}dark-mode{% endif %}">


    <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/series_list">Series List</a>
        <a href="/genre">Genre</a>
        <a href="/settings">Settings</a>
        <a href="/account">Account</a>
    </div>
    <div class="nav-line"></div>

    <div class="welcome-text">Welcome to CT StreamDB</div>

    <div class="search-wrapper">
        <input type="text" class="search-input" placeholder="Search for a TV Series">
        <span class="search-icon">🔍</span>
    </div>

    <hr class="section-divider">
    
    <div class="top-ten-container">
    <h2 style="text-align:center; color:#3b2f2fbf;">Top 10 Rated Series</h2>

    <div class="series-grid">
        {% for s in top_series %}
        <div class="series-card">
            <a href="/series/{{ s.series_id }}" style="text-decoration:none; color:inherit;">
                <img 
            src="{{ s['poster_path'] }}"
            alt="{{ s['title'] }} poster"
            class="series-poster"
        >
        <div class="series-info">
            <div class="series-title">{{ loop.index }}. {{ s.title }}</div>
             <div class="series-meta">
                {{ s["genre"] or "Unknown Genre" }} <br>
                {{ s["start_year"] or "" }} – {{ s["end_year"] or "" }}
            </div>
                <!-- <div class="top-ten-rating">
                    ⭐ {{ "%.2f"|format(s.avg_rating) }}  
                    ({{ s.rated_count }} rated eps)
                </div> -->
        </div>
                
            </a>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const input = document.querySelector(".search-input");
        const icon = document.querySelector(".search-icon");
    
        function goSearch() {
            const q = input.value.trim();
            if (q.length > 0) {
                window.location.href = `/search_page?q=${encodeURIComponent(q)}`;
            }
        }
    
        icon.addEventListener("click", goSearch);
    
        input.addEventListener("keypress", (e) => {
            if (e.key === "Enter") goSearch();
        });
    });
</script>
    